body{
    margin:0px;
}
#front{
    background-color: #95D600;
    width:100vw;
    height: 100vh;
    display:grid;
    grid-template-rows: 30% 60% 10%;
}
#name{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    background-color: snow;
    
}
#name-container{
    width:100%;
    height:100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.empty{
    width:100%;
    height:100%;
}
#svg-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#rname{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#svg{
   height: 60%;
   font-weight: 80%;
}
#pic{
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#pic-box{
    width:50%;
    height:95%;
    background-image: url("https://cdn.vox-cdn.com/thumbor/nohF5lzxw_aotBcs0wvL4e9ID1k=/0x0:1934x1352/1200x800/filters:focal(1044x869:1352x1177)/cdn.vox-cdn.com/uploads/chorus_image/image/69738203/snekcrop.0.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    border: 12px solid snow ;
    border-radius: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#play{
    width:15%;
    height: 20%;
    background-color:blue;
    color: red;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    font-weight: 900;
    cursor: pointer;
}
#play:hover{
    border: 1px solid white;
    text-shadow: white 1px 1px;
}
#infos{
    width:100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.infos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.infos:hover{
    text-decoration: underline;
    cursor: pointer;
}
#full{
    width:100vw;
    height: 100vh;
    background-color: #95D600;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#game{
    background-color: black;
    margin-top: 1%;
}
#scoreboard{
    display: flex;
    height: 10vh;
    color:white;
    justify-content:center;
    align-items: center;
    font-size:350%;
}
#info{
    width:100%;
    height: 20%;
}
.button{
    background-color: blue;
    color:red;
    font-weight: 900;
    width:10%;
    height:50%;
}
.button:hover{
    cursor: pointer;
}
#buttons{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    #full{
        width: 200vw;
        height: 200vh;
    }
  }
@media only screen and (max-width: 500px) {
    #play{
        font-size: 60%;
    }
  }